
/* Colors Style */
a.color,
a:hover,
.looked-list .his-todo a,
.tbmov-notice a:hover,
.tbmov-bar .ui-title .view-all,
.ranking-list span.score,
.focus-list li p.nums,
.assist-tab-nav li.current,
.forecast-tab-nav li.current,
.filter-list a:hover,
.filter-list a.current,
.filter-list a.current:hover,
.letter li a:hover,
#serial-box .txt-list li a.red,
.letter-focus-item dt a,
.letter-focus-item dt a:hover,
.detail-info .info dd a:hover,
.detail-info .info dd span.color,
.detail-info .info dl #link-cmt strong,
.rating-kong-item,
.rating-kong-item .nopingfen,
#like-focus .ui-title strong,
.detail-related h5 strong,
.comment-text .user,
.comment-text a,
.comment-assist a:hover,
.comment-name,
.comment-name a,
.comment-review .comment-name a:hover,
.comment-cnt a,
.comment-do .date-time a,
#play-help .play-help-item li a,
.top-item-box .ui-title h3,
.top-item-box .ui-title h3 a,
.ui-top-tab a:hover,
.ui-top-tab li.current a,
.ui-top-tab li.current a:hover,
.top-list li a:hover .tit,
.top-list .stress,
.top-list-detail .stress,
.top-list li .score,
.top-list-detail .score,
#tbmov-lasted .ui-title h2,
.sign-focus .ui-title h2,
.sign-focus a,
.sign-app-block strong,
.channel-silder-title,
.special-list .go-topic:hover,
.sitemap-list dt,
#movie-tips a,
#page-error-img p a,
.personal-info li a,
.personal-visitors h5 a,
.personal-intro h5 .promsg-btn:hover,
#personal-box h2,
.user-comment .cmt-txt .cmt-user,
.letter ul li a,
.filter-focus .ui-title h3,
.show-list p.state a,
.ui-pages a:hover,
.wxts .snvd,.wxts a.playdown_btn,#juqing .ui-title strong,
.fall-comment li p a,.comment-text span,.fall-comment li p span,.mtit,.part_name{ 
	color: #390;
}
.play-list a.current{
	background-color: #259e33;color:#ffffff;
}
#xdwss{position:absolute;top:139px;z-index:9999;width:466px;padding: 0px;margin: 1px 0 0 0px;border:2px solid #390;background-color:#fff;overflow: hidden;display:none;}
.globalRightMenu {width:64px;position:fixed; _position:absolute;right: 50%;margin-right: -575px;}
.globalRightMenu a.aFeedback,.globalRightMenu a.aGoBackTop,.globalRightMenu a.aUserGuide { width:60px; background:url(../images/rightMenuMapBg_green.png) 0 0 no-repeat; display:block; margin:0 auto}
.globalRightMenu a.aUserGuide { background-position:0 -514px; height:38px;}
.globalRightMenu a:hover.aUserGuide { background-position:0 -553px;}
.globalRightMenu a.aFeedback { height:42px;}
.globalRightMenu a:hover.aFeedback { background-position:0 -43px}
.globalRightMenu a.aGoBackTop { height:50px; background-position:-2px -491px}
.globalRightMenu a:hover.aGoBackTop { background-position:-2px -542px}
.globalRightMenu a.m8 { margin-top:8px}
.globalRightMenu .pAnchor {background: url(../images/rightMenuMapBg_green.png) 0 0px no-repeat;height: 237px;margin-top: 8px;width: 64px;padding-top: 1px;}
.globalRightMenu .pAnchor strong{font-weight:normal;cursor: pointer; height:40px; display:block; line-height:40px; overflow:hidden; margin-top:-1px; text-align:center; width:64px; float:left; color:#333; font-size:14px}
.globalRightMenu .pAnchor strong.AnchorBegin { margin-top:0;}
.globalRightMenu .pAnchor strong.AnchorEnd { height:42px;}
.globalRightMenu .pAnchor strong:hover { background:url(../images/rightMenuMapBg_green.png) 0 -242px no-repeat; text-decoration:none}
.globalRightMenu .pAnchor strong:hover{color:#080;}
.globalRightMenu .pAnchor strong:hover.AnchorBegin { background-position:0 -242px;}
.globalRightMenu .pAnchor strong:hover.AnchorEnd { background-position:0 -433px;}

.acResults ul li strong,
.ranking-list em.stress{
	color: #080;
}

/* background-image Style */
.ui-icon{
	background-image: url(../images/ui-icon-green.gif);
}
#navbar,
#tbmov-plus li a:hover{
	background-image: url(../images/navbar-bg-green.gif);
	background-color: #390;
}	

/* border-color Style */
#tbmov-plus li a:hover,
.play-list a:hover,
#serial-box  #serial-box-wj,
.ui-link:hover,
.channel-silder-nav li.on,
.channel-item .ui-title h2{
	border-color: #390;
}
	
/* background-color Style */
.ui-catalog li a:hover,
.ui-button,
.activation .btn a:hover,
.specail-mask,
.play-list a:hover,
#back-to-top a:hover,
.top-catalog .current a,
.view-mode li a.current,
.view-modev li a.current,
.letter ul li a:hover,
.filter-focus .ui-title span a:hover,.player_list a:hover,.vodplaybox a.cur,.vodplaybox a.cur:hover{
	background-color: #390;
}
.letter ul li a,.player_list a:hover,.vodplaybox a.cur,.vodplaybox a.cur:hover{
	border:1px solid #390;
}
.ui-pages span.current,.down-title h2{
	background-color: #390;	
}
.mtit{border-bottom:solid 1px #080;}
#liststory{border-top: 1px solid #FFF;}
.tab_margin ul li{background-color: #080;}
.tab_margin ul li.sel{border:solid 1px #080;}
.tab_margin ul li.sel{ background-color:#FFFFFF; color:#390; border:solid 1px #390; border-bottom:none;}
.actorjz h2{ background-color:#080; }
.sb{ border-bottom:1px solid #080;}
#list-focus,#list-news{border-top: 1px solid #080;}
.bycss,.pwk2 a,.recentlylist li span a,.rolename a,.sb a:hover,.sylist .syinfo span a,.sylist .yypic a,.aimenu dd.lrname a,.aimenu dd.laname a,.fjinfo p a,.jq_player a,.fjinfo b,.tab_margin ul li.sel a{ color:#390;}
.ui-nav .drop-title-hover,
.ui-nav .nav-link:hover,
.ui-nav .current .nav-link{
	background-color: #2d2d2d;
}			
.drop-box{
	border: 1px solid #2d2d2d;
}	
/* ui-search */	
.acResults,
.ui-search,
.play-img:hover{
	border-color: #259e33;
}	

.view-filter a.current{
	background-color: #1f87cb;
}  

.tbmov-notice a,
.detail-info .info dl #link-cmt label,
.channel-item .ui-title h2{;color: #080;} 
	

.ui-input-focus{		
	border-color: #1f87cb;
}	
	
.ui-button-hover,
.ui-button:hover{
	background-color: #080;
}
.vodplaybox a span.new{background:url(../images/neww.gif) no-repeat 0px -87px;}
.player_list a:hover{background-color: #339900;}

.loveidbox a.sect-btn:hover{background-position:-152px -315px;}
.remind a.rss-btn:hover{background-position:-248px -316px;}
.updownbtnbox a.Up:hover{ background-position:0px -315px;}
.updownbtnbox a.Down:hover{background-position:-76px -315px;}
.remind .sect-show{background:url(../images/updownbtn.gif) no-repeat -248px -360px;}
.loveidbox .sect-show{background:url(../images/updownbtn.gif) no-repeat -152px -360px;}
.p10idt-gold span{color: #390;}